
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
.title1 {
    font-size: 42px;
    color: #3745BD;
    font-weight: 600;
    
    
}
.paragraph1 {
    font-size: 20px;
    line-height: 28px;
    
} 

header {
    width: 429px;
}

